@use "./../../mixins" as *;

.menu {
	display: grid;
	grid-template-rows: 0fr;
	overflow: hidden;
	transition: all 0.5s;
	padding: 0;
}

.menu--active {
	grid-template-rows: 1fr;
	padding: 10px 0;
}

.menu__inner {
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 5px;
}

.dot-link-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
	width: 100%;
}

.dot {
	width: 10px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.dot--active {
	font-size: 2rem;
	width: 10px;
	aspect-ratio: 1/1;
	background: #fff;
	border-radius: 50%;
}

.menu__link {
	position: relative;
	display: inline-block;
	font-size: 1.5rem;
	color: #000;
}

.menu__link-vacancies-qty {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(100%, -40%);
	background: var(--sec-accent-clr);
	border-radius: 10px;
	padding: 2.5px 7.5px;
	font-size: 0.8rem;
	@include grid-center;
}
