.job-card {
	display: flex;
	flex-direction: column;
	background: #eeeeee;
	padding: 10px;
	border-radius: 25px;
	// cursor: pointer;

	// &:hover {
	// 	background: var(--accent-clr);
	// }
}

.job-card__img {
	border-radius: 25px;
	margin-bottom: 10px;
}

.job-card__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.job-card__date {
	color: rgba(0, 0, 0, 0.5);
}

.job-card__title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 10px;
}

.job-card__link-container {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	row-gap: 5px;

	button {
		color: #fff;
		background: #000;
	}
}

.job-card__link {
	display: grid;
	place-content: center;
	background: var(--accent-clr);
	color: #000;
	height: 50px;
	border-radius: 25px;
	padding: 0 12.5px;
	width: 100%;
	transition: scale 0.3s;

	&:hover {
		scale: 0.95;
	}
}
