@use "./../../mixins" as *;

// .loading {
// 	width: 100px;
// 	height: 100px;
// 	border-radius: 50%;
// 	display: grid;
// 	place-content: center;
// 	background: conic-gradient(
// 		var(--secondary-clr),
// 		var(--accent-clr),
// 		var(--secondary-clr)
// 	);
// 	animation: animateLoading 2s linear infinite;

// 	div {
// 		height: 80px;
// 		aspect-ratio: 1/1;
// 		background: #fff;
// 		border-radius: 50%;
// 	}
// }

// @keyframes animateLoading {
// 	to {
// 		rotate: 360deg;
// 	}
// }

.home {
	position: relative;
	z-index: 1;
	border-radius: 25px;
}

// @keyframes animateHome {
// 	to {
// 		top: 75px;
// 		right: 25px;
// 		left: 25px;
// 	}
// }

.home-inner {
	//
	position: sticky;
	top: 75px;
	//
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #fff;
	border-radius: 25px;
	overflow: hidden;
	margin-top: 75px;
	min-height: calc(100vh - 100px);
	transition: all 0.5s;
}

.home-inner--active {
	margin-top: calc(249.67px - 75px) !important;
}

.title-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 25px;
	padding: 50px 25px 0;
}

.blur-char {
	filter: blur(10px);
	opacity: 0;
	transition: all 0.3s;
}

.blur-char--active {
	opacity: 1 !important;
	filter: blur(0) !important;
}

.home__title {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
}

.home__rotate-container {
	position: relative;
	@include flex-center;
	height: 63.33px;
	overflow: hidden;
	background: var(--accent-clr);

	span {
		position: absolute;
		transform: translateY(63.33px);
		padding: 5px 0;
	}

	span[data-show] {
		transform: translateY(0);
		transition: transform 0.5s;
	}

	span[data-up] {
		transform: translateY(-63.33px);
		transition: transform 0.5s;
	}
}

.home__link-container {
	display: flex;
	border: 1px solid var(--bg-clr);
	border-radius: 25px;
	filter: blur(10px);
	opacity: 0;
	pointer-events: none;
	animation: animateLinkContainer 1s 2s forwards;
}

@keyframes animateLinkContainer {
	to {
		pointer-events: all;
		opacity: 1;
		filter: blur(0);
	}
}

.home__link {
	position: relative;
	color: #000;
	padding: 0 12.5px;
	height: 50px;
	border-radius: 25px;
	@include grid-center;

	&:nth-child(2) {
		background: var(--accent-clr);
	}
}

.home__link-vacancies-qty {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -25%);
	background: var(--sec-accent-clr);
	border-radius: 15px;
	padding: 2.5px 10px;
}

.empty-div {
	//
	height: 100dvh;
	//
	pointer-events: none;
}

@media screen and (width <= 896px) {
	.home {
		position: relative;
		z-index: 1;
		border-radius: 25px;
	}

	.home-inner {
		//
		top: 50px;
		//
		margin-top: 50px;
		min-height: calc(100vh - 100px);
	}

	// @keyframes animateHome {
	// 	to {
	// 		top: 50px;
	// 		right: 10px;
	// 		left: 10px;
	// 	}
	// }

	.title-container {
		padding: 50px 10px 0;
	}

	.home__title {
		font-size: 1.5rem;
	}

	.home__rotate-container {
		height: 45.33px;

		span {
			transform: translateY(45.33px);
		}

		span[data-up] {
			transform: translateY(-45.33px);
		}
	}
}
