.about {
	background: var(--bg-lighter-clr);
	width: 100%;
	padding: 0 25px 25px;
}

.about__title {
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 600;
	padding-top: 100px;
	padding-bottom: 25px;
}

.about__list-title {
	font-size: clamp(1rem, 4vw, 1.25rem);
	font-weight: 500;
}

.about__list {
	display: flex;
	flex-direction: column;
	row-gap: 5px;

	li {
		font-size: clamp(1rem, 2vw, 1.25rem);
		list-style: disc !important;
		list-style-position: inside !important;
	}
}

@media screen and (width <= 896px) {
	.about {
		padding: 0 10px 10px;
	}

	.about__title {
		padding-top: 60px;
		padding-bottom: 10px;
	}
}
