.jobs {
	scroll-margin-top: 75px;
	padding: 0 25px;
}

.jobs__title {
	padding: 25px 0;
	font-size: clamp(2rem, 4vw, 3rem);
	font-weight: 600;
}

.jobs-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

@media screen and (width <= 1400px) {
	.jobs-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (width <= 1100px) {
	.jobs-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (width <= 750px) {
	.jobs-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (width <= 896px) {
	.jobs {
		scroll-margin-top: 50px;
		padding: 0 10px;
	}

	.jobs__title {
		padding: 10px 0;
	}
}
