.jobs {
	scroll-margin-top: 75px;
	padding: 0 25px;
}

.jobs__title {
	padding: 25px 0;
	font-size: clamp(2rem, 4vw, 3rem);
}

@media screen and (width <= 896px) {
	.jobs {
		scroll-margin-top: 50px;
		padding: 0 10px;
	}

	.jobs__title {
		padding: 10px 0;
	}
}
