.menu-btn {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-weight: 500;
}

.menu-btn__dot {
	width: 7.5px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	transition: background-color 0.3s;
}

.menu-btn__dot--active {
	background: #000;
}

@media screen and (width <= 896px) {
	.menu-btn {
		display: flex;
	}
}
