.menu-btn {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.menu-btn__dot {
	width: 7.5px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.menu-btn__dot--active {
	background: var(--accent-clr);
}

@media screen and (width <= 896px) {
	.menu-btn {
		display: flex;
	}
}
