@use "./../../mixins" as *;

.header {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	min-height: 75px;
	padding: 0 25px;
	background: var(--bg-clr);
}

.header::before {
	content: "";
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	left: 25px;
	width: 50px;
	z-index: -1;
	aspect-ratio: 1/1;
	border-radius: 25px;
	background: transparent;
	box-shadow: -25px -25px var(--bg-clr);
	pointer-events: none;
}

.header::after {
	content: "";
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	right: 25px;
	width: 50px;
	z-index: -1;
	aspect-ratio: 1/1;
	border-radius: 25px;
	background: transparent;
	box-shadow: 25px -25px var(--bg-clr);
	pointer-events: none;
}

.header-top {
	position: relative;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.header__logo {
	color: #000;
	font-size: 1.5rem;
	font-weight: 600;
	//
	width: max-content;
	//

	span {
		font-weight: 200;
	}
}

.header__nav {
	position: relative;
	z-index: 0;
	height: 50px;
	border-radius: 25px;
	background: #fff;
	@include flex-center;
}

.nav-link-indicator {
	position: absolute;
	z-index: -1;
	border-radius: 25px;
	background: var(--accent-clr);
	height: 100%;
	transition: all 0.3s;
}

.nav-link {
	height: 50px;
	color: #000;
	display: grid;
	place-content: center;
	padding: 0 12.5px;
	border-radius: 25px;
}

@media screen and (width <= 896px) {
	.header {
		min-height: 50px;
		padding: 0 10px;
	}

	.header::before {
		content: "";
		position: absolute;
		left: 10px;
		width: 50px;
		aspect-ratio: 1/1;
		border-radius: 25px;
		background: transparent;
		box-shadow: -25px -25px var(--bg-clr);
		pointer-events: none;
	}

	.header::after {
		content: "";
		position: absolute;
		right: 10px;
		width: 50px;
		aspect-ratio: 1/1;
		border-radius: 25px;
		background: transparent;
		box-shadow: 25px -25px var(--bg-clr);
		pointer-events: none;
	}

	.header-top {
		height: 50px;
	}

	.header__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.header__nav {
		display: none;
	}
}
