@use "./../../mixins" as *;

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-height: 100px;
	@include flex-center;
	flex-direction: column;
	transition: 0.3s;
}

.header--hide {
	transform: translateY(-50px);
}

.header__top {
	position: relative;
	width: 100%;
	// padding: 0 20px;
	padding-right: 15px;
	height: 50px;
	background: #fff;
	@include flex-end-center;
}

.header__bottom {
	height: 50px;
	position: relative;
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	transition: border-radius 0.3s;
}

.header__bottom--active {
	border-radius: 0 0 25px 25px;
}

.header__bottom-logo {
	position: absolute;
	left: 20px;
	font-size: 1.5rem;
	font-weight: 600;
	opacity: 0;
	transition: opacity 0.3s;
}

.header__bottom-logo--active {
	opacity: 1;
}

.header__nav {
	height: 50px;
	@include flex-center;
}

.header__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
	font-size: 1.5rem;
	font-weight: 600;

	span {
		font-weight: 200;
	}
}

.header__nav-link {
	height: 40px;
	color: #000;
	display: grid;
	place-content: center;
	padding: 10px;
	border-radius: 20px;

	&:nth-of-type(1) {
		background: rgba(255, 166, 0, 0.25);
	}
}

@media screen and (width <= 896px) {
	.header {
		min-height: 50px;
	}

	.header__top {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s;
		border-radius: 0 0 25px 25px;
	}

	.header__top--hide {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
	}

	.header__bottom {
		display: none;
	}
}
