.contact-us {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	z-index: 101;
	width: 500px;
	max-height: calc(100% - 40px);
	border-radius: 25px;
	background: var(--bg-clr);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 25px;
	opacity: 0;
	pointer-events: none;
	transition: transform 0.5s, opacity 0.5s;
}

.contact-us--active {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	pointer-events: all;
}

.contact-us__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.contact-us__title {
	font-size: clamp(1rem, 4vw, 1.5rem);
	font-weight: 600;
}

.contact-us__inner {
	border-radius: 20px;
	background: #fff;
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 25px;
}

.contact-us__info {
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	p {
		font-size: clamp(1rem, 4vw, 1.2rem);
	}

	div {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}
}

.contact-us__socials {
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	p {
		font-size: clamp(1rem, 4vw, 1.2rem);
	}

	div {
		display: flex;
		column-gap: 10px;
	}
}

// Curtain
.contact-us__curtain {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	pointer-events: none;
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	transition: backdrop-filter 0.5s;
}

.contact-us__curtain--active {
	pointer-events: all;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

@media screen and (width <= 896px) {
	.contact-us__inner {
		padding: 10px;
	}
}

@media screen and (width <= 540px) {
	.contact-us {
		width: calc(100% - 40px);
	}
}
