.add-to-home-screen {
	width: 100%;
	padding: 0 25px;
}

.add-to-home-screen__title {
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 600;
	padding-top: 100px;
	padding-bottom: 25px;
}

.add-to-home-screen__container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row-reverse;
	gap: 25px;
}

.add-to-home-screen__list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	li {
		font-size: clamp(1rem, 2vw, 1.25rem);
		list-style: disc !important;
		list-style-position: inside !important;
	}
}

@media screen and (width <= 896px) {
	.add-to-home-screen {
		padding: 0 10px;
	}

	.add-to-home-screen__title {
		padding-top: 60px;
		padding-bottom: 10px;
	}

	.add-to-home-screen__container {
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		gap: 25px;
	}
}
