@use "./../../mixins" as *;

.footer {
	position: fixed;
	top: 0;
	right: 25px;
	left: 25px;
	height: 100vh;
}

.footer-inner {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
	// flex-wrap: wrap;
}

.footer__logo {
	font-size: clamp(5rem, 10vw, 10rem);
	color: rgba(0, 0, 0, 0.5);
}

.footer__socials {
	display: flex;
	gap: 10px;
	// margin-top: 10px;
}

.footer__nav-container {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	gap: 50px;
	flex-wrap: wrap;
}

.footer__nav-list {
	display: flex;
	flex-direction: column;
	justify-self: center;
	row-gap: 5px;
}

.footer__nav-list-title {
	font-size: 1.2rem;
}

a {
	color: rgba(0, 0, 0, 0.5);
	transition: all 0.2s;

	&:hover {
		color: #000;
	}
}

.footer-bottom__slider {
	position: absolute;
	bottom: 25px;
	width: 100%;
	background: #000;
	height: 50px;
	border-radius: 25px;
	overflow: hidden;
}

.footer-bottom__list {
	display: flex;
	height: 100%;
	align-items: center;
	width: 100%;
	min-width: calc(var(--width) * var(--quantity));
	position: relative;
}

.footer-bottom__item {
	color: #fff;
	width: var(--width);
	position: absolute;
	left: 100%;
	@include grid-center;
	animation: autoRun 20s linear infinite;
	//
	animation-delay: calc(
		(20s / var(--quantity)) * (var(--position) - 1)
	) !important;
	//

	a {
		color: #fff;

		&:hover {
			color: var(--accent-clr);
		}
	}
}

.footer-bottom__slider:hover .footer-bottom__item {
	animation-play-state: paused;
}

@keyframes autoRun {
	from {
		left: 100%;
	}
	to {
		left: calc(var(--width) * -1);
	}
}

@media screen and (width <= 896px) {
	.footer {
		left: 10px;
		right: 10px;
	}

	.footer-inner {
		height: 100%;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		padding: 60px 0 0;
	}

	.footer-top {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		flex-wrap: wrap;
	}

	.footer__nav-container {
		justify-content: space-between;
		gap: 50px;
	}

	.footer-bottom__slider {
		bottom: 10px;
	}
}
