@use "./../../mixins" as *;

.vacancy {
	background: var(--bg-lighter-clr);
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	filter: blur(10px);
	opacity: 0;
	transition: all 0.5s;
}

.vacancy--active {
	opacity: 1;
	filter: blur(0);
}

.vacancy__no-img {
	width: 100%;
	aspect-ratio: 1/1;
	background: var(--accent-clr);
}

.vacancy__details {
	padding: 0 10px 0 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.vacancy__date {
	align-self: flex-end;
	color: rgba(0, 0, 0, 0.5);
}

.vacancy__title {
	font-size: 1.2rem;
	font-weight: 500;
}

.vacancy__link-container {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	padding: 0 10px 10px 10px;
}

.vacancy__link {
	@include grid-center;
	background: #fff;
	color: #000;
	height: 40px;
	width: 100%;
	padding: 0 10px;
	transition: background-color 0.2s, color 0.2s;

	&:hover {
		background: var(--accent-clr);
	}

	&:nth-child(2):hover {
		background: #000;
		color: #fff;
	}
}
