.search-job {
	padding: 120px 20px 20px;
}

.search-input-container {
	background: #ffa500;
	display: flex;
	margin-bottom: 20px;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.jobs-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.job-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 25px;
}

.job-container__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.job-container__date {
	color: rgba(0, 0, 0, 0.5);
}

.job-container__title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	.search-job {
		padding: 70px 20px 20px;
	}
}

@media screen and (max-width: 750px) {
	.jobs-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
