@use "reset";
@use "mixins";
@use "variables";
@use "fonts";

body {
	position: relative;
	font-family: "Urbanist", sans-serif;
	background: #e0dddd;
	padding: 25px;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
