@use "reset";
@use "mixins";
@use "variables";
@use "fonts";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

body {
	min-height: 100vh;
	position: relative;
	font-family: "Urbanist", sans-serif;
	background: #e0dddd;
}

#root {
	min-height: 100vh;
}
