@use "./../../mixins" as *;

.lng-select {
	position: relative;
}

.lng-select__btn {
	@include flex-center;
	column-gap: 5px;

	span,
	img {
		pointer-events: none;
	}
}

.lng-select-banner {
	padding: 25px;
	background: var(--bg-clr);
	border-radius: 25px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	z-index: 101;
	width: 500px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: transform 0.5s, opacity 0.5s;
}

.lng-select-list-container {
	background: #fff;
	border-radius: 20px;
	height: 100%;
	padding: 10px;
}

.lng-select__list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 10px;
}

.lng-select__list--visible {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	pointer-events: all;
}

.lng-select__option {
	@include flex-center;
	column-gap: 5px;
	background: var(--bg-lighter-clr);
	color: #000;
	border-radius: 17.5px;
	padding: 5px 5px 5px 8.75px;
	cursor: pointer;

	&:hover {
		background: var(--accent-clr);
	}
}

.lng-select__option--active {
	background: var(--accent-clr);
}

// Curtain
.lng-select__curtain {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	pointer-events: none;
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	transition: backdrop-filter 0.5s;
}

.lng-select__curtain--active {
	pointer-events: all;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

@media screen and (width <= 896px) {
	.lng-select__btn {
		span {
			display: none;
		}
	}
}

@media screen and (width <= 540px) {
	.lng-select-banner {
		width: calc(100% - 40px);
	}
}
