.contacts {
	width: 100%;
	padding: 0 25px 25px;
}

.contacts__title {
	padding-top: 100px;
	padding-bottom: 25px;
	font-size: clamp(1.5rem, 4vw, 3rem);
	font-weight: 600;
}

.contacts__inner {
	display: flex;
	gap: 25px;
}

.contacts__details {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.contacts__details-container {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.contacts__socials-container {
	display: flex;
	gap: 10px;
}

.contacts__map {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.contacts__details-title,
.contacts__map-title {
	font-size: clamp(1rem, 4vw, 1.25rem);
	font-weight: 500;
}

.map {
	width: 100%;
	height: 400px;
}

@media screen and (width <= 1000px) {
	.contacts__inner {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (width <= 896px) {
	.contacts {
		padding: 0 10px 10px;
	}

	.contacts__title {
		padding-top: 60px;
		padding-bottom: 10px;
	}
}
